h1, h2 {
    display: inline-block;
    background-color: cyan;
    width: 200px;
}
label, input {
    display: block;
}
p {
    display: inline-block;
    width: 160px;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightcyan;
    margin: 10px;
}
    
    

